/*

Template 2078 Adventure

http://www.tooplate.com/view/2078-adventure

*/
/* Body
------------------------------------- */
body {
  background-color: #F6F6F6;
  color: #404040;
  font-family: lanenar, Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative;
}

html, body {
  overflow-x: hidden;
  font-size: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: baselliost;
  src: url("../fonts/Baselliost.otf");
}

@font-face {
  font-family: lanenar;
  src: url("../fonts/Lanenar.ttf");
}

/* Typography
------------------------------------- */
h1, h2, h3, h4, h5 {
  font-family: lanenar, 'Raleway', sans-serif;
  color: #181818;
}

h3 {
  color: #181818;
  letter-spacing: 1px;
}

h5 {
  color: #181818;
  letter-spacing: 4px;
  padding-top: 22px;
}

.heading {
  font-size: 62px;
  font-family: Baselliost;
  font-weight: normal;
  color: #404040;
}

p {
  letter-spacing: 0.9px;
  line-height: 28px;
  color: #181818;
}

a {
  outline: none !important;
}

hr {
  width: 120px;
}

.color-white {
  color: #FFF;
}

.color-white a {
  color: #FC3;
}

/* All Section styles
------------------------------------- */
section {
  background-color: #F6F6F6;
  box-shadow: inset 0px 5px 5px 0px #f1f1f1;
}

.section-title {
  padding: 0px 50px 50px 50px;
  position: relative;
  text-align: center;
}

#gift .section-title, #events .section-title {}

.panel {
  border: 0px;
}

.panel-title {}

.panel-body {
  background-color: #F6F6F6;
}

.panel-body p {}

.medium-icon {
  font-size: 36px !important;
  font-weight: bold;
}

#work, #gift, #accomodation,
#portfolio, #events, #rsvp {
  padding-top: 60px;
  padding-bottom: 100px;
}

#accomodation, #portfolio, #rsvp {
  text-align: center;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.hotel-icon li a span {
  color: red;
  font-size: 20px;
  font-weight: 300;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin: 0 8px 14px 8px;
}

/* preloader styles
/* ========================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
}

.sk-rotating-plane {
  width: 40px;
  height: 40px;
  background-color: #ffa400;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* Modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 17%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0px 20px 40px 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ulProtocol {
  list-style-type: none;
  margin: 0% 0%;
  text-align: left;
}

.home-text {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url('../images/coverImage.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.firstDividerDiv {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url('../images/firstDivider.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.secondDividerDiv {
  display: none;
}

.giftPhoto {
  text-align: center;
  width: 50%;
  height: 683px;
  background-image: url('../images/giftPhoto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* navigation styles
/* ========================================== */
.custom-navbar {
  background-color: trasparent;
  border: none;
  margin-bottom: 0;
  text-align: center;
  padding: 0px;
}

.custom-navbar .navbar-brand {
  border: 4px solid #ffffff;
  font-weight: 600;
  font-size: 24px;
  padding-top: 11px;
}

.custom-navbar .navbar-brand .navbar-toggle {
  background: #ffa400;
  padding: 4px 6px;
  font-size: 16px;
}

.custom-navbar .nav {
  float: none;
  display: inline-block;
  vertical-align: middle;
  width: 100%
}

navbar li {
  list-style-type: none;
}

.nav-title {
  font-family: baselliost;
  font-size: 6.5vw;
  padding-left: 10px;
  color: #404040;
  text-decoration: none;
}

.navbar-header {
  text-align: left;
}

.nav-title:hover {
  color: #404040;
  text-decoration: none;
}

.nav-title:focus {
  color: #404040;
  text-decoration: none;
}

.nav-title-img {
  width: 30vw;
  display: block;
}

.nav-item {
  font-size: 15px;
}

.custom-navbar .nav li a {
  display: block;
  padding: 15px 20px;
  letter-spacing: 2px;
  color: #181818;
  margin: 32.5px 0px;
}

.custom-navbar .nav li a:hover {
  background: transparent;
}

.custom-navbar .nav>li>a:focus {
  background-color: transparent;
  outline: none;
}

.custom-navbar .nav li.active>a {
  /*border-bottom: 2px solid black;*/
}

.custom-navbar .navbar-toggle {
  border: none;
}

.navbar-toggle {
  margin-top: 18px;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #404040;
  border-color: transparent;
}

.nav-colored {
  background-color: white;
  box-shadow: none;
}

.nav-transparent {
  background-color: transparent;
  box-shadow: none;
}

@media(min-width:768px) {
  .custom-navbar {
    padding: 0px;
  }

  .custom-navbar.top-nav-collapse {
    padding: 0px;
    border-bottom: 0;
  }

  .navbar-collapse {
    float: right;
  }
}

@media (max-width: 767px) {
  .custom-navbar .nav li.active>a {}
}

/*HOME SECTION*/
.home-text {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left-frame-img {
  height: 80vh;
  position: relative;
  top: 80%;
  opacity: 70%;
}

/* work section styles
/* ========================================== */
#work .col-md-4 {
  display: block;
  width: 100%;
  border: 4px solid transparent;
  padding: 42px;
  transition: all 0.4s linear;
}

#work .col-md-4:hover {
  border: 4px solid #000000;
}

#work h3 {
  font-size: 16px;
}

#work .col-md-4 hr {
  margin-left: 0;
}

/* Gift section styles
/* ========================================== */
#gift {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  */
}

#gift h2 {
  padding-bottom: 20px;
}

#gift .panel-group .panel, #gift .panel {
  border-radius: 0;
  background-color: white;
}

#gift .panel-heading {
  background: transparent;
  text-transform: uppercase;
  padding: 0;
}

#gift .panel-title>a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: white;
}

#gift .gift-fact {
  margin-top: 82px;
  text-align: center;
  position: relative;
  display: block;
}

#gift .border-right {
  border-right: 2px solid rgba(250, 250, 250, 0.8);
}

#gift .heading {
  font-size: 6vw;
  padding-bottom: 20px;
}

#gift .panel-body {
  background-color: white;
}

#gift .panel-group {
  box-shadow: 2px 0px 10px -2px #f1f1f1, -2px 0px 10px -2px #f1f1f1, 0px 2px 10px -2px #f1f1f1, 0px -2px 10px -2px #f1f1f1;
}

/* Accomodation section styles
/* ========================================== */
#accomodation {}

#accomodation h3 {
  font-size: 14px;
}

#accomodation .accomodation-wrapper .accomodation-des {
  cursor: pointer;
  position: relative;
  bottom: 0;
  transition: all 0.4s linear;
  padding: 62px 22px 62px 22px;
  margin-top: 20px;
}

#accomodation .accomodation-wrapper:hover .accomodation-des {
  background: #ffffff;
  bottom: 100px;
}

#accomodation .accomodation-wrapper .social-icon li a {
  font-size: 16px;
}

#accomodation .accomodation-wrapper .hotel-icon li a span {
  font-size: 16px;
}

#accomodation .hotel-div {
  width: 33.33333334%;
  float: left;
}

.hotel-icon {
  padding: 0;
  margin: 0;
}

.hotel-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}

.hotel-icon li a {
  font-size: 20px;
  font-weight: 300;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin: 0 8px 14px 8px;
}

#accomodation .accomodation-button .btn {
  background: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  letter-spacing: 2px;
  padding: 6px 42px;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  color: #181818;
}

#accomodation .heading {
  font-size: 6vw;
  padding-bottom: 20px;
}

/* portfolio section styles
/* ========================================== */
#portfolio .col-md-4 {
  padding: 12px;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  max-width: 100%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.grid figure figcaption {
  padding: 2em;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: rgba(250, 250, 250, 0.6);
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-zoe h2 {
  font-size: 22px;
  float: left;
  position: relative;
  bottom: 16px;
}

figure.effect-zoe h2 {
  display: inline-block;
}

figure.effect-zoe p.icon-links a {
  float: right;
  font-size: 1.2em;
  padding-right: 18px;
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  color: #000000 !important;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#portfolio .portfolio-bottom {
  padding-top: 62px;
  position: relative;
  clear: both;
}

#portfolio .portfolio-bottom h2 {
  letter-spacing: 2px;
}

#portfolio .portfolio-bottom .btn {
  background: transparent;
  border: 4px solid #000000;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
  color: #181818;
}

#portfolio .portfolio-bottom .btn:hover {
  background: #000000;
  color: #ffffff;
  border-color: transparent;
}

/* events section styles
/* ========================================== */
#events {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#events .events {
  transition: all 0.4s linear;
  margin-bottom: 20px;
}

#events .events-title {
  font-family: baselliost;
  font-weight: normal;
  color: #404040;
}

#events .protocol-title {
  font-size: 72px;
  font-family: baselliost;
  font-weight: normal;
}

#events .events-description {
  font-size: 18px;
  font-weight: normal;
}

#events .events-description-title {
  font-size: 18px;
  font-weight: normal;
}

#events .protocol-description {
  font-size: 18px;
  font-weight: normal;
}

#events .events-title, #events .events-price {
  padding: 16px;
  font-size: 6vw;
}

#events .protocol-title {
  padding: 16px;
}

#events small {}

#events .events-list {
  list-style-type: none;
}

#events .events-list li {
  padding: 10px 0 10px 0;
}

#events .events-button .btn {
  background: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  letter-spacing: 2px;
  padding: 6px 42px;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  color: #181818;
}

#events .events-button .btn:hover {
  font-weight: bold;
}

/* Rsvp section styles
/* ========================================== */
#rsvp .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}

#rsvp .form-control {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#rsvp .form-control:focus {
  border-color: black;
}

#rsvp input {
  height: 54px;
}

#rsvp select {
  height: 54px;
}

#rsvp input[type="submit"] {
  background: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  letter-spacing: 2px;
  padding: 6px 42px;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: none;
  color: #181818;
}

#rsvp input[type="submit"]:hover {
  font-weight: bold;
}

#rsvp .rsvp-detail {
  background: #ffffff;
  border: 4px solid #000000;
  position: relative;
  top: 140px;
}

#rsvp .rsvp-detail .col-md-6 {
  padding: 82px;
}

#rsvp .rsvp-detail .col-md-6:first-child {
  border-right: 4px solid #000000;
}

#rsvp .heading {
  font-size: 6vw;
  padding-bottom: 20px;
}

/*Divider sections*/
.firstDividerDiv {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#rsvp textarea {
  resize: none;
}

#rsvp .form-control {
  background-color: white;
  box-shadow: 2px 0px 10px -2px #f1f1f1, -2px 0px 10px -2px #f1f1f1, 0px 2px 10px -2px #f1f1f1, 0px -2px 10px -2px #f1f1f1;
}

#rsvp .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#rsvp .inputfile+label {
  background: transparent;
  border: 1px solid #ccc;
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  letter-spacing: 2px;
  padding: 6px 42px;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: none;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
}

#rsvp .inputfile+label:hover {
  font-weight: bold;
}

#rsvp .inputfile:focus+label {
  font-weight: bold;
  border-color: black;
}

#rsvp .inputfile+label * {
  pointer-events: none;
}

#rsvp .form-text {
  margin-top: 15px
}

/* contact section styles
/* ========================================== */
#contact {
  background-color: #f1f1f1;
}

#contact .section-title {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* footer section styles
/* ========================================== */
footer {
  background: #f9f9f9;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

footer h2 {
  border: 4px solid #000000;
  display: inline-block;
  padding: 12px 32px 12px 32px;
  margin-bottom: 32px;
}

.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}

.social-icon li a {
  .heading font-size: 20px;
  font-weight: 300;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin: 0 8px 14px 8px;
}

.social-icon li a:hover {
  background: #000000;
  color: #ffffff;
}

#error {
  text-align: center;
}

#error h1 {
  text-align: center;
  font-family: baselliost;
  font-size: 85px;
}

#thank-you {
  text-align: center;
}

#thank-you h1 {
  text-align: center;
  font-family: baselliost;
  font-size: 85px;
}

#thank-you .thank-you-button .btn {
  background: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  letter-spacing: 2px;
  padding: 6px 42px;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  color: #181818;
}

/*------------------------------------------------------
  RESPONSIVE STYLES
--------------------------------------------------------*/
@media (max-width: 1200px) {
  .bx-thumbnail-wrapper {
    display: none;
  }

  .slider-caption {
    bottom: 90px;
  }

  .bx-controls-direction {
    bottom: 30px;
  }
}

@media (max-width: 812px) {
  .slider-caption {
    bottom: 60px;
  }

  .slider-caption h2 {
    font-size: 32px;
  }

  .slider-caption p {
    font-size: 18px;
  }

  .bx-controls-direction {
    right: 30px;
  }

  .bx-controls-direction {
    bottom: -40px;
  }

  .heading {
    font-size: 62px;
  }

  .custom-navbar .navbar-brand {
    border: none;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .slider-caption {
    bottom: 30px;
  }

  .slider-caption h2 {
    font-size: 18px;
  }

  .slider-caption p {
    font-size: 12px;
    line-height: 14px;
  }

  .bx-controls-direction {
    bottom: -40px;
  }

  #gift .mobile-top {
    padding-top: 32px;
  }

  #work .col-md-4 {
    text-align: center;
  }

  #work .col-md-4 hr {
    margin-left: auto;
  }

  .grid figure img {
    margin-bottom: 22px;
  }

  #portfolio .portfolio-bottom {
    position: relative;
    top: 62px;
  }

  #rsvp .rsvp-detail {
    border: 0;
  }

  #rsvp .rsvp-detail .col-md-6:first-child {
    border-right: 0;
  }

  #rsvp .rsvp-detail .col-md-6 {
    padding: 42px;
  }

  #rsvp .rsvp-detail {
    top: 40px;
  }

  .home-text {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/coverImage_mobileV.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .firstDividerDiv {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/firstDivider_mobileV.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .secondDividerDiv {
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/giftPhoto.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .ulProtocol {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0px 20px;
  }

  .modal {
    padding-top: 30%;
    /* Location of the box */
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px 0px 20px 0px;
    border: 1px solid #888;
    width: 90%;
  }

  .navbar-header {
    text-align: center;
    background-color: white;
  }

  .giftPhoto {
    display: none;
  }

  #gift .panel-group .panel, #gift .panel {
    text-align: center;
  }

  .custom-navbar {
    background-color: #F6F6F6;
  }

  #accomodation .heading {
    font-size: 17vw;
  }

  #accomodation .hotel-div {
    width: 50%;
    float: left;
  }

  #accomodation .accomodation-des {
    padding: 31px 22px 31px 22px !important;
    margin-top: 0px !important;
    margin-bottom: 10px;
  }

  #accomodation .accomodation-des h4 {
    font-size: 15px;
    height: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #accomodation .accomodation-des h3 {
    margin-top: 11px;
    margin-bottom: 5px;
  }

  #accomodation .accomodation-button .btn {
    padding: 6px 24px;
    color: #181818;
  }

  #accomodation p {
    font-size: 14px;
  }

  #events .events-title, #events .events-price {
    font-size: 17vw;
  }

  #events .events-description {
    font-size: 14px;
  }

  #events .events-description-title {
    font-size: 15px;
  }

  #gift .heading {
    font-size: 17vw;
  }

  #gift .panel-title {
    font-size: 15px;
  }

  #gift .panel-body {
    font-size: 14px;
  }

  #rsvp .heading {
    font-size: 17vw;
  }

  #rsvp p {
    font-size: 14px;
  }

  #rsvp .inputfile+label {
    font-size: 14px;
  }

  #contact p {
    font-size: 14px;
  }

  #error h3 {
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .site-slider {
    padding-top: 50px;
  }

  #events .events {
    padding-right: 0;
    margin: 54px auto 54px auto;
    width: 360px;
  }
}

@media (max-width: 502px) {
  #events .events {
    width: 310px;
  }
}

@media (max-width: 440px) {}

@media (max-width: 320px) {
  .heading {
    font-size: 32px;
  }

  h5 {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .nav-title {
    font-size: 12vw;
  }

  .nav-item {
    font-size: 12px;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .nav-title {
    font-size: 12vh;
  }

  .home-text {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url("../images/coverImage.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .home-text {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
